/* 
    Created on : 21/10/2018, 11:33:01
    Author     : Marco
*/

*{margin: 0; padding: 5px;}
header {width:1600px; height: 60px; margin-left: 0px; margin-bottom:40px;}
nav {width: 100%; height: 40px; padding: 0px;background-color:cadetblue;font-family: "Arial" sans-serif;}
nav ul li{list-style: none; margin-right: -11px; position: relative;}

nav ul li{width: 150px; float: left;}

nav ul li ul li{list-style: none; padding: 5px; margin-top: -9.9px; margin-left: -10px; position: relative; }

nav a{
    padding: 0px;
    display: block;
    text-decoration: none;
    text-align: center; 
    background-color:aquamarine;
    color:black;
    font-size: 18px;
    border: 1px solid darkgray;    
}

nav ul li a:hover{background-color:aqua;}

nav ul li ul{visibility: hidden; position: absolute;}

nav ul li:hover ul{visibility: visible;}

h1{clear: left;margin-top: 200px;text-align: center;}

p{text-align: center;   
}

footer{background-color:cadetblue; text-align: center; padding: 10px; margin-top: 200px;}
